# /etc/systemd/system/kb-led.service
[Unit]
Description=Keyboard LED Controller
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/soryu/.config/hypr/scripts/led-daemon.py --device /dev/input/event3
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
